.row
  .small-12.small-centered.columns
    %table.full-width.meetups.tablesorter
      %thead
        %tr
          %th.date Fecha
          %th Evento
          %th Organizador
          %th Lugar
      %tbody
        - 1.upto(5) do |i|
          %tr
            %td= format_date(Date.today + i)
            %td= "Evento #{i}"
            %td= "Organizador #{i}"
            %td= "Lugar #{i}"

- content_for :js do
  :javascript
    $('.meetups').tablesorter();
