---
title: "meetupar :: RubyConfAR"
---

.row.titulo-organizador
  .small-6.small-centered.columns
    .row
      .small-3.columns
        %img{ src: "http://placehold.it/200x200&amp;text=Logo" }
      .small-9.columns
        %h1.text-center RubyConfAR

.row
  .small-8.columns.panel
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in orci faucibus, euismod ligula nec, egestas nisl. Pellentesque faucibus facilisis nunc. Fusce vel aliquet odio. Nam id aliquam purus. Suspendisse vel est in orci blandit egestas. Donec id adipiscing nisi. Mauris et risus suscipit, aliquam risus cursus, viverra nisi. Morbi hendrerit, erat a convallis pharetra, tellus dolor ullamcorper ligula, ut cursus leo felis ut lorem. Mauris sodales lorem in ornare dapibus. Vivamus eu luctus lectus. Donec lobortis arcu velit, id tincidunt mi dapibus quis. Integer nulla purus, iaculis eget dapibus id, tempor sit amet erat.
  .small-3.columns.panel
    %ul.no-bullet
      %li
        = link_to "#" do
          %i.socialfoundicon-facebook
          Facebook
      %li
        = link_to "#" do
          %i.socialfoundicon-twitter
          Twitter
      %li
        = link_to "#" do
          %i.socialfoundicon-google-plus
          Google +
      %li
        = link_to "#" do
          %i.socialfoundicon-linkedin
          LinkedIn

= partial "eventos"
